<br /><br /><br />

<p-card
  header="Angular PrimeNG Card component"
  [style]="{
    border: '2px solid black',
    borderRadius: '15px',
    width: '100%',
    backgroundColor: 'green',
    color: 'white'
  }"
>
  <div class="map-container">
    <div class="map-frame">
      <!-- Your map content goes here -->
      <!-- For example, you can use the iframe you provided in your original code. -->
      <iframe
        width="425"
        height="350"
        src="https://www.openstreetmap.org/export/embed.html?bbox=39.59472656250001%2C15.834535741221565%2C96.1083984375%2C42.16340342422403&amp;layer=transportmap&amp;marker=29.859701442126756%2C67.8515625"
        style="border: 1px solid black"
      ></iframe>
      <br />
      <small>
        <a
          href="https://www.openstreetmap.org/?mlat=29.860&amp;mlon=67.852#map=5/29.860/67.852&amp;layers=T"
          >View Larger Map</a
        >
      </small>
    </div>
  </div>
</p-card>
